@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

/* lightweight-charts TradingView 로고 제거 */
.tv-lightweight-charts a[href*="tradingview"] {
  display: none !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}