CONTRACT_AUTH_ADDRESS=0x316C0E2814DD21179BF4CFdCF55297C78713A339
### KIS API

APP_KEY = PSVWyNxb4xmsvjnRdVM7tBfbKnNfcVUsGmlP

KIS_MOCK_APP_SECRET = xlb8zbhHAqCJRLkdxF5UlP9ckDWwbsGz7Ooub+tuTXRVkwF95tAc6CmGyDPPDpMdp5MpM9fdBY+cwGLC1EOsnkb/Ovb7hmsEUz67QFmKxu+SCvHG08fCULS4OtLa5w8lJUMJDIHQLYIg8XIjtMBoVyCjDo0Bs2yIA6lzy1w1hZv2vljS9i8=

KIS_REAL_APP_KEY = PSgxiwSx6ciDA8wOMwQxDBGii0Bj4MzXYf5g

KIS_REAL_APP_SECRET = 2J/mfUy6+5efWtz2B+590Uwlz2ZRoTNd4FWyBzb3bzBEgj0Y1g6tWtSuJ3epfPfsi4CRSEAZiag1tC8nXxgGIC4VZwDlkl249wXKFKcsfATsFt4C0SfDMtB95ChrgOZwupEjHoiHPX5lfsa7fSMWDyuxoFCS5tX6A0q8PV5Aj+5+D1GZVCc=

DB_HOST=localhost
DB_PORT=3306
DB_USER=ydh
DB_PASSWORD=ekgP0801!!
DB_NAME=stock_db

SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/TNK10noN5_Bq7h9bPDirx

SERVER_PRIVATE_KEY=0xabeb81d0e64b58f1880763ee9c917958ee5edf7298a13def5dadfa594c991271